<nb-card class="postFormat" *ngFor="let item of posts">
  <nb-card-header class="postCard"><img class="groupImg" src="{{postInfo.groupPic}}" alt="postimg" /><span class="postCard">{{item.id}}</span></nb-card-header>
  <nb-card-body class="postCard">
    <div class="postTitleBar">
      <span class="postTitle">{{item.title}}</span>
      <span class="postAuthor"><span class="postBy">posted by: </span>{{item.userId}}</span>
    </div>
    <nb-card>
      <nb-card-body>
        {{item.body}}
      </nb-card-body>
    </nb-card>
  </nb-card-body>
</nb-card>
