<nb-card class="postFormat">
  <nb-card-header class="postCard"><img class="groupImg" src="{{postInfo.groupPic}}" alt="postimg" /><span class="postCard">{{postInfo.group}}</span></nb-card-header>
  <nb-card-body class="postCard">
    <div class="postTitleBar">
      <span class="postTitle">{{postInfo.heading}}</span>
      <span class="postAuthor"><span class="postBy">posted by: </span>{{postInfo.author}}</span>
    </div>
    <nb-card>
      <nb-card-body>
        {{postInfo.body}}
      </nb-card-body>
    </nb-card>
  </nb-card-body>
</nb-card>
