<nb-card>
  <nb-card-header> View Projects</nb-card-header>
  <nb-card-body>
    Know more about the various research projects going on at PESU.Join Us
  </nb-card-body>
</nb-card>
<nb-card>
    <nb-card-header>Collaborate</nb-card-header>
    <nb-card-body>
      Collaborate and work on projects your interested in.
    </nb-card-body>
  </nb-card>
  <nb-card>
      <nb-card-header>Follow research groups </nb-card-header>
      <nb-card-body>
          Be a part of PESU Research groups to work on amazing projects and recieve excellent guidance.
      </nb-card-body>
    </nb-card>
