<!DOCTYPE html>
<html>
<head>
	<!-- Site Title -->
	<title>Proveit</title>

	
		 
	<link rel="stylesheet" href="css/linearicons.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/bootstrap-home.css">
	<link rel="stylesheet" href="css/main.css">
	</head>
	<body>
		<!-- Start Header Area -->
		<header class="default-header">
			<div class="container">
				<div class="header-wrap">
					<div class="header-top d-flex justify-content-between align-items-center">
						<div class="logo">
							<a href="index.html"><img src="img/logo.png" alt=""></a>
						</div>
						<div class="main-menubar d-flex align-items-center">
							<nav class="hide">
								<a href="#">Login</a>
								<a href="#">SignUp</a>
							</nav>
							<div class="menu-bar"><span class="lnr lnr-menu"></span></div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- End Header Area -->
		<!-- Start Banner Area -->
		<section class="banner-area relative">
			<div class="container">
				<div class="row fullscreen align-items-center justify-content-between" style="height: 735px;">
					<div class="col-lg-12">
						<div class="banner-content text-center">
							<h4 class="text-white text-uppercase">Introducing</h4>
							<h1 class="text-uppercase">PROVEIT</h1>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Banner Area -->

		<!-- Start feature Area -->
		<section class="feature-area">
			<div class="container">
				<div class="row pt-100">
					<div class="col-lg-4">
						<div class="single-feature d-flex justify-content-between align-items-top">
							<div class="number">
								<h1>01</h1>
							</div>
							<div class="desc">
								<h2 class="text-uppercase">View Projects</h2>
								<p>
								Know more about the research going on at PESU. Join Us.
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="single-feature d-flex justify-content-between align-items-top">
							<div class="number">
								<h1>02</h1>
							</div>
							<div class="desc">
								<h2 class="text-uppercase">
									Collaborate
								</h2>
								<p>
								Collaborate and work on projects your interested in.
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="single-feature d-flex justify-content-between align-items-top">
							<div class="number">
								<h1>03</h1>
							</div>
							<div class="desc">
								<h2 class="text-uppercase">
									Follow research groups
								</h2>
								<p>
								Be a part of PESU Research groups to work on amazing projects and recieve excellent guidance.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End feature Area -->

		
		<!-- Start Footer Area -->
		<footer class="footer-area pt-40 pb-40">
			<div class="container">
				<div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
					<p class="footer-text m-0 text-white">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</p>
					<div class="footer-social d-flex align-items-center">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						
					</div>
				</div>
			</div>
		</footer>
		<!-- End Footer Area -->

                <!-- js files to toggle the button-->
		<script src="js/jquery-2.2.4.min.js"></script>
		<script src="js/main.js"></script> 
	</body>
</html>
