<!DOCTYPE html>
<html>
<head>
    <!-- Site Title -->
    <title>Proveit</title>



    <link rel="stylesheet" href="/static/content/linearicons.css">
    <link rel="stylesheet" href="/static/content/font-awesome.min.css">
    <link rel="stylesheet" href="/static/content/bootstrap-home.css">
    <link rel="stylesheet" href="/static/content/main.css">
    <link rel="stylesheet" type="text/css" href="/static/semantic-ui/semantic.min.css" />
     <script src="/static/semantic-ui/semantic.min.js"></script>

</head>
	<body>
		<!-- Start Header Area -->
		<header class="default-header">
			<div class="container">
				<div class="header-wrap">
					<div class="header-top d-flex justify-content-between align-items-center"  style="width:128%; margin-left:-158px;">
						<div class="logo">
							<a href="{{url_for('home')}}"><img src="/static/img/logo_tmp.png" alt=" height="70""></a>
						</div>
						<div class="main-menubar d-flex align-items-center">
                            <nav class="hide">
                                <a class="item active" href="{{ url_for('home') }}">
                                    Home
                                </a>
                                <a class="item" href="{{ url_for('about') }}">
                                    About
                                </a>
                                <a class="item" href="{{ url_for('contact') }}">
                                    Contacts
                                </a>
                                {% if current_user.is_anonymous %}
                                <a class="ui item" href="{{ url_for('login') }}">
                                    LogIn
                                </a>
                                <a class="ui item" href="{{ url_for('signup') }}">
                                    Join
                                </a>
                                {% else %}
                                <a class="ui item" href="{{ url_for('userbase') }}">
                                    Account
                                </a>
                                <a class="ui item" href="{{ url_for('logout') }}">
                                    LogOut
                                </a>
                                {% endif %}
                            </nav>
							<div class="menu-bar"><span class="lnr lnr-menu"></span></div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- End Header Area -->
		<!-- Start Banner Area -->
		<section class="banner-area relative">
			<div class="container">
                <div class="row fullscreen align-items-center justify-content-between" style="height: 735px;">
                    <div class="col-lg-12">
                        <div class="banner-content text-center">
                            <h4 class="text-white text-uppercase">Introducing</h4>
                            <h1 class="text-uppercase">PROVEIT</h1>
                        </div>
                    </div>

                </div>
			</div>
		</section>
		<!-- End Banner Area -->

		<!-- Start feature Area -->
		<section class="feature-area">
			<div class="container">
				<div class="row pt-100">
					<div class="col-lg-4">
						<div class="single-feature d-flex justify-content-between align-items-top">
							<div class="number">
								<h1>01</h1>
							</div>
							<div class="desc">
								<h2 class="text-uppercase">View Projects</h2>
								<p>
								Know more about the research going on at PESU. Join Us.
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="single-feature d-flex justify-content-between align-items-top">
							<div class="number">
								<h1>02</h1>
							</div>
							<div class="desc">
								<h2 class="text-uppercase">
									Collaborate
								</h2>
								<p>
								Collaborate and work on projects your interested in.
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="single-feature d-flex justify-content-between align-items-top">
							<div class="number">
								<h1>03</h1>
							</div>
							<div class="desc">
								<h2 class="text-uppercase">
									Follow research groups
								</h2>
								<p>
								Be a part of PESU Research groups to work on amazing projects and recieve excellent guidance.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End feature Area -->

		
		<!-- Start Footer Area -->
		<footer class="footer-area pt-40 pb-40">
			<div class="container">
				<div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
					<p class="footer-text m-0 text-white">Copyright &copy;{{year}} All rights reserved</p>
					<div class="footer-social d-flex align-items-center">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						
					</div>
				</div>
			</div>
		</footer>
		<!-- End Footer Area -->

                <!-- js files to toggle the button-->
		<script src="/static/scripts/jquery-2.2.4.min.js"></script>
		<script src="/static/scripts/main.js"></script> 
	</body>
</html>
