{% extends "layout.html" %}

{% block content %}


<div class="ui segment">
    <h1 class="ui huge header">Welcome to ProveIt</h1>
    <div class="ui inverted padded segment">
        <p>
            Nbe fks jf skf ls khfkol keloip helipn sergen Nbe fks jf skf ls 
            khfkol keloip helipn sergen Nbe fks jf skf ls khfkol keloip helipn sergen Nbe fks jf skf ls khfkol 
            keloip helipn sergen Nbe fks jf skf ls khfkol keloip helipn sergen Nbe fks jf skf ls khfkol keloip helipn sergen Nbe fks 
            jf skf ls khfkol keloip helipn sergen Nbe fks jf skf ls khfkol keloip helipn sergen Nbe fks jf skf ls khfkol keloip helipn sergen Nbe fks jf 
            skf ls khfkol keloip helipn sergen Nbe fks jf skf ls khfkol keloip helipn sergen 
        </p>
        <p>
            Nbe fks jf skf ls khfkol keloip helipn sergen Nbe fks jf skf ls khfkol keloip helipn sergen Nbe fks jf skf ls khfkol 
            keloip helipn sergen Nbe fks jf skf ls khfkol keloip helipn sergen Nbe fks jf skf ls khfkol keloip helipn sergen Nbe fks jf 
            skf ls khfkol keloip helipn sergen Nbe fks jf skf ls khfkol keloip helipn sergen Nbe fks jf skf ls khfkol keloip helipn sergen 
            Nbe fks jf skf ls khfkol keloip helipn sergen Nbe fks jf skf ls khfkol keloip helipn sergen Nbe fks jf skf ls khfkol keloip helipn sergen
        </p>
    </div>
    <div class="ui horizontal divider">

    </div>
</div>



<div class="ui placeholder segment">
    <div class="ui two column very relaxed stackable grid">
        <div class="middle aligned column"><input type="button" class="ui primary massive button" value="Log In" /></div>
        <div class="middle aligned column"><input type="button" class="ui primary massive button" value="Sign Up" /></div>
    </div>
    <div class="ui vertical divider">
        Or
    </div>
</div>



{% endblock %}
