{% extends "login_layout.html" %}

{% block content %}

<!--<div class="ui bordered very padded segment">-->
<div class="ui middle aligned center aligned grid" style="padding-left: 10%; padding-right:10%; padding-top: 7%">
<div class="column">
    <h2 class="ui blue large header">Login to your account</h2>
    <div class="ui center aligned large form" style="padding-left: 25%; padding-right: 25%">
        <div class="ui stacked segment" style="padding: 10%">
        <div class="ui field">
            <!--<label>Username</label>-->
            <div class="ui left icon input">
                <input type="text" placeholder="Username">
                <i class="user icon"></i>
            </div>
        </div>
        <p/>
        <div class="ui field">
            <!--<label>Password</label>-->
            <div class="ui left icon input">
                <input type="password" placeholder="Password">
                <i class="lock icon"></i>
            </div>
        </div>
        <p/>
        <div class="ui large fluid blue submit button" style="margin-bottom: 2%">Login</div>
        <div>
            Forgot password?
        </div> 
        <div class="ui horizontal divider">
            Or
        </div>
        <button class="ui large fluid google plus button" style="margin-top: 5%">
        <i class="google plus icon"></i>
            Login with Google Plus
    </button>
    </div>
    <div class="ui message">
        New to us?
        <a href="{{ url_for('signup') }}">Sign up</a>
     </div>       
    </div>
    
</div>

</div>


{% endblock %}