{% extends "layout.html" %}

{% block content %}

<!--<script type="text/javascript">
    $('.special.cards .image').dimmer({
            on: 'hover'
    });

</script>

<div class="ui segment">
    <div class="ui horizontal divider">
        <div class="ui special cards">
            <div class="card">
                <div class="blurring dimmable image">
                    <div class="ui dimmer">
                        <div class="content">
                            <div class="center">
                                <div class="ui inverted button">Add Friend</div>
                            </div>
                        </div>
                    </div>
                    <img src="/static/img/kristy.png">
                </div>
                <div class="content">
                    <a class="header">Kristy </a>
                </div>
                
            </div>
        </div>

    </div>
</div>-->

<div class="ui segment" style="background-color: rgb(255,228,225);">
    <div class="ui horizontal divider" style="padding-bottom: 25%">
        <div class="ui card">
            <div class="ui slide masked reveal image">
                <img src="/static/img/kristy.png" class="visible content">
                <!--<img src="/static/img/kristy.png" class="hidden content">-->
                <div class="hidden content">
                    <a class="header">Kristy</a>
                </div>
            </div>
            <div class="content">
                <a class="header">Kristy</a>
                <div class="meta">
                    <span class="date">Age: 26</span>
                </div>
                <div class="description" >
                    Software Engineer
                </div>
            </div>
            <div class="extra content">
            <a>
             <i class="envelope icon"></i>
                kristy@gmail.com
            </a>
            </div>
        </div>
        <div class="ui grid" style="padding-right: 10%; margin-top: -80%">
            <div class="ui segment" style="margin-left: -120%; margin-right: 50%;">
    <div class="eight wide column">
      <h2>Research Groups</h2>
    </div>
</div>
</div>
<div class="ui grid" style="padding-left: 140%; margin-top: -23%">
<div class="ui segment">
    <div class="eight wide column">
      <h2>Projects</h2>
    </div>
</div>
        <!--<div class="ui vertical divider">and</div>-->
  </div>
</div>
</div>

{% endblock %}
