<nb-card>
  <nb-card-body>
    <div class="basicDetails">
      <div class="basicImg">
        <img class="profilePicture" src="{{user.picture}}" alt="profile picture" align="left" />
        <div class="basicImgEdit"><button nbButton>Edit</button></div>
      </div>
      <nb-card class="basicRight">
          <b>Name: {{user.name}}<p>Email: {{user.email}}</b>
      </nb-card>
    </div>
    <nb-tabset>
      <nb-tab tabTitle="Contact Details">
        Contact Details
      </nb-tab>
      <nb-tab tabTitle="Interests and Skills">
        Interests and Skills
      </nb-tab>
      <nb-tab tabTitle="Bio">
        Bio
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
  
</nb-card>



