<nb-card>
  <nb-card-body>
    <div class="basicDetails">
      <div class="basicImg"><img src="#" alt="profile picture" align="left" /></div>
      <div class="basicRight"><span class="basicDetailsText">Name: {{user.name}}</span><p><span class="basicDetailsText">Email: {{user.email}}</span></div>
    </div>
    <nb-tabset>
      <nb-tab tabTitle="Contact Details">
        Contact Details
      </nb-tab>
      <nb-tab tabTitle="Interests and Skills">
        Interests and Skills
      </nb-tab>
      <nb-tab tabTitle="Bio">
        Bio
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
  
</nb-card>



