<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div style="position: absolute; top: 4.75rem" class="waveWrapper waveAnimation">

    <img src="/assets/research2.jpg" class="bg-img"/>
    <div class="logoDiv">
      <img src="/assets/logo_tmp.png" width="85%" style="margin-left: auto; margin-right: auto; display: block;" />
    </div>
    <a routerLink="/auth/register" (click)="toggleNamedColor()" class = "btn" nbButton shape="semi-round" outline class="getStarted" href="#" [ngStyle]="{'background-color': '#EFB169', 'color' : 'black'}">Get started</a>

    <div>
      <div class="waveWrapperInner bgTop">
    
        <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')">
    
        </div>
      </div>
  
    <div class="waveWrapperInner bgMiddle">
    
      <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
    </div>
    <div class="waveWrapperInner bgBottom">
    
      <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
    </div>
   
<!--<div style="postion:relative;padding-top:9%;background-color:#B5D0E0;padding-left=8%">-->
    <div class="wrapper">
      <div style="width: 22.5vw;"></div>
      <div class="left">
        <nb-card style="height: 45vh;">
          <nb-card-header class="cardHeader">View Projects<p></p> </nb-card-header>
          <nb-card-body class="change">
            Browse through the projects of other students in your college, and follow them as they bring forth new advancements in the sciences.
          </nb-card-body>
        </nb-card>
      </div>
      <div style="width: 5vw;"></div>
      <div class="middle">
        <nb-card style="height: 45vh;">
          <nb-card-header class="cardHeader">Collaborate<p></p> </nb-card-header>
          <nb-card-body class="change">
            Collaborate and work on projects with the help of mentors, or just with fellow scholars, the tools are all here.
          </nb-card-body>
        </nb-card>
      </div>
      <div style="width: 5vw;"></div>
      <div class="right">
        <nb-card style="height: 45vh;">
          <nb-card-header class="cardHeader">Follow Research Groups</nb-card-header>
          <nb-card-body class="change">
            Follow and work under research groups, with experienced teachers as mentors. Have your projects featured on their page.
          </nb-card-body>
        </nb-card>
      </div>
    </div>
</div>


<!--</div>-->

