<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<div class="waveWrapper waveAnimation">
  
  <div style="position: absolute; z-index: 15">
    
    <img src="../../../assets/research2.jpg" style="width:80%; padding-top:5%; padding-left: 25%; position: relative; z-index: 16;"/>
  </div>
  <div>
  
  <div style="margin-left: 42%; margin-top: 7%; position: relative; z-index: 16; border-radius: 500px; background-color: white; width: 13%;">
   
    <img src="../../../assets/logo_tmp.png" width="80%" style="margin-left: auto; margin-right: auto; display:
    block;" />
  
  </div>
  <a (click)="toggleNamedColor()" class = "btn" nbButton shape="semi-round" outline style="margin-top: 1%; margin-left: 42.5%; position: relative; z-index: 16;" href="#" [ngStyle]="{'background-color': buttonColor, 'color' : 'black'}">Get started</a>
  <div>
   
  <div class="waveWrapperInner bgTop">
    
    <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')">
    
    </div>
  </div>
  
  <div class="waveWrapperInner bgMiddle">
    
    <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
  </div>
  <div class="waveWrapperInner bgBottom">
    
    <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')">
   </div>
  </div>
   
<!--<div style="postion:relative;padding-top:9%;background-color:#B5D0E0;padding-left=8%">-->
<div class="wrapper">
<div class="left">
<nb-reveal-card>
  <nb-card-front>
    <nb-card class="postformat" status="success">
      <nb-card-header class="bg" style="background-color:#EFB169;font-family: Allerta Stencil, Sans-serif;text-align:center">View Projects</nb-card-header>
      <nb-card-body class ="change">
        Know more about the various<br> research going on at PESU.It is ranked the #1 University.Join Us
      </nb-card-body>
    </nb-card>
  </nb-card-front>
  <nb-card-back>
    <nb-card class="postformat" status="danger">
      <nb-card-header style="background-color:#EFB169;font-family: Allerta Stencil, Sans-serif;text-align:center">View Project</nb-card-header>
      <nb-card-body class="change">
        Know more about the various<br>research going on at PESU.It is ranked the #1 University.Join Us
      </nb-card-body>
    </nb-card>
  </nb-card-back>
</nb-reveal-card>
</div>
<div class="middle">
<nb-reveal-card>
  <nb-card-front>
    <nb-card class="postformat" status="success">
      <nb-card-header style="background-color:#EFB169;font-family: Allerta Stencil, Sans-serif;text-align:center">Collaborate</nb-card-header>
      <nb-card-body class="change">
        Collaborate and work on projects your<br> interested in and indulge yourself in amazing activites.
      </nb-card-body>
    </nb-card>
  </nb-card-front>
  <nb-card-back>
    <nb-card class="postformat" status="danger">
      <nb-card-header style="background-color:#EFB169;font-family: Allerta Stencil, Sans-serif;text-align:center">Collaborate</nb-card-header>
      <nb-card-body class="change">
        Collaborate and work on projects your<br> interested in and indulge yourself in amazing activites.
      </nb-card-body>
    </nb-card>
  </nb-card-back>
</nb-reveal-card>
</div>
<div class="right">
<nb-reveal-card>
  <nb-card-front>
    <nb-card class="postformat" status="success">
      <nb-card-header style="background-color:#EFB169;font-family: Allerta Stencil, Sans-serif;text-align:center">Follow Research Groups</nb-card-header>
      <nb-card-body class="change">
        Be a part of PESU Research groups to<br> work on amazing projects and recieve<br> excellent guidance.
      </nb-card-body>
    </nb-card>
  </nb-card-front>
  <nb-card-back>
    <nb-card class="postformat" status="danger">
      <nb-card-header style="background-color:#EFB169;font-family: Allerta Stencil, Sans-serif;text-align:center">Follow Research Groups</nb-card-header>
      <nb-card-body class="change">
        Be a part of PESU Research groups to<br> work on amazing projects and recieve<br> excellent guidance.
      </nb-card-body>
    </nb-card>
  </nb-card-back>
</nb-reveal-card>
</div>
</div>



<!--</div>-->

