<div class="waveWrapper waveAnimation">
  <div style="position: absolute; z-index: 15">
    <img src="../../../assets/research2.jpg" style="width:80%; padding-top:5%; padding-left: 25%; position: relative; z-index: 16;"/>
  </div>
  <div>
  <div style="margin-left: 42%; margin-top: 7%; position: relative; z-index: 16; border-radius: 500px; background-color: white; width: 13%;">
    <img src="../../../assets/logo_tmp.png" width="80%" style="margin-left: auto; margin-right: auto; display:
    block;" />
  </div>
  <a (click)="toggleNamedColor()" class = "btn" nbButton shape="semi-round" outline style="margin-top: 1%; margin-left: 44%; position: relative; z-index: 16;" routerLink="../" [ngStyle]="{'background-color': buttonColor, 'color' : 'black'}">Get started</a>
  <div>

  <div class="waveWrapperInner bgTop">
    <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')">
    </div>
  </div>
  <div class="waveWrapperInner bgMiddle">
    <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
  </div>
  <div class="waveWrapperInner bgBottom">
    <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
  </div>